<!DOCTYPE html>
{% extends "childbase.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">
  <p class="text-success">Make a Post</p>
</h1>
<style>
  .form-control:focus {
    box-shadow: none;
  }
</style>
<form method="POST" enctype="multipart/form-data">
  <div align="left" class="form-group">
    <input type="file" id="filename" name="filename" class="form-control" />
    <!-- <input type="file" id="filename" name="filename" class="custom-file-input" /> -->
    <div class="container" style="padding-top: 6px;"></div>
    <textarea name="text" id="text" class="form-control"></textarea>
    <br />
  </div>
  <div align="center">
    <a href="/blog"><button type="submit" class="btn btn-lg btn-success">Post</button></a>
  </div>
</form>
<br />
<div align="center">
  <a href="/blog"><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
</div>
{% endblock %}